:root {
    --accentColor: #b1f8e1;
    --textColor: #cecece;
    --backgroundColor: #031e15;
    --backgroundColorHover: rgba(177, 248, 225, 0.1);
    --buttonTextColor: black;
    --darkmodeButton: white
}


body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
    margin-left: 0;
    max-width: 900px;
    flex-direction: column;
    padding: 20px;
    margin: auto;
}

.logoanddarkmode{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

img.logo{
    height: auto;
    width: 50px;
    margin-top: 20px;
}

p {
    word-wrap: break-word;

}

.accentColor {
    color: var(--accentColor);
}

.textColor {
    color: var(--textColor);
}

.backgroundColor {
    background-color: var(--backgroundColor);
}

.bgColorHover {
    background-color: var(--backgroundColorHover);
}

.container {
    display: flex;
    
    box-sizing: border-box;
    
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 500px;
   
   
    overflow: hidden;
    font-family: "Public Sans";
    padding-right: 20px;
    box-sizing: border-box;
}

.boxright {
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
   
}

.Vicente {
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 20px;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    justify-content: flex-start;
}

.FutureWork {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 22px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
}

.Description {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 50px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

.button-letstalk {
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--buttonTextColor);
    background-color: var(--accentColor);
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    font-family: "Public Sans", sans-serif;
}

.button-letstalk:hover {
    background-color: var(--backgroundColorHover);
}

.socials {
    display: flex;
    align-items: center;
    padding: 20px;
   
}

.socials i {
    margin-right: 30px;
    font-size: 26px;
    color: var(--accentColor);
}

.modesButton i {
    margin: 0 10px;
    font-size: 26px;
    color: var(--accentColor);
}


.modesButton {
    background-color: var(--backgroundColor);
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border: 1px solid var(--accentColor);
    border-radius: 60px;
    cursor: pointer;
}

.modesButton p {
    color: var(--accentColor);
}

.AboutMe {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
}

.clickable-link {
   
    text-decoration: none;
   
    cursor: pointer;
}

a {
    color: var(--accentColor);
    text-decoration: none;
    font-weight: 600;
}

.Skills {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 50px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

.skill-tab {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.skill-pill {
    background-color: var(--backgroundColorHover);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    padding: 5px 10px;
    margin-right: 5px;
    width: max-content;
    margin-bottom: 5px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

.skill-pill i {
    color: var(--accentColor);
    margin-left: 10px;
}

.Projects {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

.project-card {
    display: flex;
    flex-direction: row;
    margin: 15px;
   
    border-radius: 5px;
    align-items: center;
    padding: 20px 20px;
}

.project-card .card-text {
    color: var(--textColor);
    margin-left: 12px;
}

.project-card .card-text h3 {
    color: var(--accentColor);
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

.project-card .card-text p {
    color: var(--textColor);
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

.project-card:hover {
    background-color: var(--backgroundColorHover);
}

.project-card img {
    height: 100px;
    width: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.JAVA-Program {
    display: inline-block;
    background-color: var(--backgroundColor);
    margin: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    
    margin-bottom: 50px;
}

.Artworks {
    display: inline-block;
    background-color: var(--backgroundColor);
    margin: 5px;
    padding: 10px 10px;
    border-radius: 5px;
   
    margin-bottom: 50px;
}

.JAVA-System:hover {
    background-color: #0c855d;
}

.JAVA-Program:hover {
    background-color: #0c855d;
}

.Artworks:hover {
    background-color: #0c855d;
}

.about-container a.gobackbutton {
    display: block;
    margin-bottom: 30px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    margin-top: 30px;
}




.about-container {
    margin-left: 10px;
}

.aboutme-container {
    max-width: 900px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;


}

.aboutme-container .bio {
    flex-grow: 2;
    box-sizing: border-box;
    padding-right: 30px;
  


}

.aboutme .contact-details {
    flex-grow: 1;
   
}

.contact-details .detail-card {
    background-color: var(--backgroundColorHover);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    padding: 10px 15px;
    margin-right: 5px;
    width: max-content;
    margin-bottom: 20px;
}

.contact-details .detail-card i,
.contact-details .detail-card a {
    color: var(--accentColor);
}

.contact-details .detail-card a {
    text-decoration: none;
}

.contact-details .detail-card i {
    margin-right: 10px;
}




.title {
    width: 100%;
    
    margin: 50px auto;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    
    box-sizing: border-box;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 58px;
    line-height: 62px;
    margin-bottom: 10px;
}

.title p {
    font-size: 18px;
    line-height: 22px;
    color: var(--textColor);
    font-family: "Public Sans", sans-serif;
    font-weight: 500;

}

.title h1,
.title p {
    width: inherit;

}

.photos-parts {
    display: flex;
   
    width: inherit;
    box-sizing: border-box;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: var(--backgroundColorHover);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    width: 30%;
    margin-bottom: 15px;
    text-align: center;
}

.card .image {
    border-radius: 5px;
}

.card .image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    
}




.parts {
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 58px;
    line-height: 62px;
    margin: 20px auto;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
    box-sizing: border-box;
}




.parts {
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 58px;
    line-height: 62px;
    
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
    box-sizing: border-box;
}




@media only screen and (max-width: 768px) {

    /* tablet */

    header {
        padding-right: 20px;
        box-sizing: border-box;
    }

    .Vicente {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 5px;
    }

    .FutureWork {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .Description {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .AboutMe {
        font-size: 16px;
        line-height: 20px;
    }

    .project-card {
        flex-direction: column;
        background-color: var(--backgroundColorHover);
        margin: 0px;
        margin-bottom: 10px;
    }

    .project-card img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }

    .title {
        box-sizing: border-box;
        padding: 30px;
    }

    .project-card .card-text {
        margin-left: 0px;
    }

    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .photos-parts .card {
        width: 45%;
    }

}

@media only screen and (max-width: 568px) {
    #test {
        flex-direction: column;
    }

    #test .boxright {
        width: 100%;
    }

    body {
        padding: 20px;
    }

    header {
        width: 100%;
        padding: 0%;
        height: min-content
    }

    .Description {
        margin-bottom: 10px;
    }

    .Vicente {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 5px;
    }

    .project-card {
        flex-direction: column;
        background-color: var(--backgroundColorHover);
        margin: 0px;
        margin-bottom: 10px;

    }

    .project-card img {
        width: 100%;
        height: auto;
    }

    .project-card .card-text {
        margin-left: 0px;
        margin-top: 10px;
    }

    .about-container .aboutme-container {
        flex-direction: column;
    }

    .title h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .card {
        width: 100%;
    }

    .title {
        padding: 0;
    }

    .photos-parts .card {
        width: 100%;
    }
}